<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>

<body>
    <h1>This is Home Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, odio tempore, quis corrupti voluptatibus illum
        neque incidunt eius molestias omnis sequi quidem recusandae totam maxime voluptas placeat modi quos nulla.</p>
</body>

</html>